<p class='text-center'><strong><%= startAddress(true) %></strong> to <strong><%= finishAddress(true) %></strong></p>
<hr />
<% if (loading()) { %>
  <div id="loading_indicator">
      <div></div>
      <div></div>
      <div></div>
  </div>
  <ol></ol>
<% } else { %>
  <dl class="dl-horizontal info_bar">
    <dt class='dropdown'>
      <%= paceDescription() %> Pace: <a class='dropdown-toggle' data-toggle="dropdown" href='#' title="Change Pace"><i class="icon-caret-down"></i></a>
      <ul id="pace-dropdown" class="dropdown-menu" role="menu" >
        <li>
          <a href='#' data-pace='fast'><%= speedDescription('fast') %></a>
        </li>
        <li>
          <a href='#' data-pace='average'><%= speedDescription('average') %></a>
        </li>
        <li>
          <a href='#' data-pace='slow'><%= speedDescription('slow') %></a>
        </li>
      </ul>
    </dt>
    <dd><%= formattedTime() %></dd>
    <dt>Total Distance:</dt>
    <dd><%= totalDistance() %></dd>
  </dl>
  <hr />
  <div class='start_address'><span>Start</span> <%= startAddress() %></div>
  <ol></ol>
  <div class='finish_address'><span>End</span> <%= finishAddress() %></div>
<% } %>
