<div class="tab-pane active" id="elevation">
  <div id="elevation_graph"></div>
</div>
<div class="tab-pane" id="calories">
  <h3><i class="icon-heart big-icon"></i> Calories burned: <span class="calorie_result"><%= initialCalories() %></span></h3>
  <label for="weight" style="display:inline-block;">Based on a weight of:</label>
  <div class='input-append' style='display: inline-block;'>
    <span class="help-inline">Inline help text</span>
    <input id='weight' class='input-mini' type='number' min='0' value="<%= initialWeight() %>">
    <span class='add-on'>kg</span>
  </div>

</div>
<div class="tab-pane" id="health">
  <h3><i class="icon-medkit big-icon"></i> Monetary health savings per trip: <%= healthCost() %></h3>
  <p>Monetary health savings per year, based on 3 trips back and forth weekly: <strong><%= healthCostYear() %></strong></p>
  <p class='muted'>Based on the costs of disease and early death that can be avoided with an active lifestyle.</p>
</div>
<div class="tab-pane" id="car_cost">
  <h3><i class="icon-road big-icon"></i> Vehicle cost savings per trip: <%= carCost() %></h3>
  <p>Vehicle cost savings per year, based on 3 trips back and forth weekly: <strong><%= carCostYear() %></strong></p>
  <p class='muted'>Based on NZTA's standard motor running costs of 70c/km, and cycling cost of 5c/km.</p>
</div>
<div class="tab-pane" id="carbon">
  <h3><i class='icon-leaf big-icon'></i> Carbon emissions saved per trip: <%= carbonSaving() %></h3>
  <p>Carbon emissions saved per year, based on 3 trips back and forth weekly: <strong><%= carbonSavingYear() %></strong></p>
  <p class="muted">Based on driving the same route in 2.2 litre car.</p>
</div>


