<div class="row-fluid">
  <div class="span3 left_sidebar">
    <div class="sidebar_content">
      <form action='#' id="journey_form" class='green_box'>
        <h4>Directions:</h4>
        <fieldset></fieldset>
      </form>
      <div class='tabbable'>
        <ul class='nav nav-tabs'>
          <li class='active'><%= link_to "Examples", "#examples", data: {toggle: "tab"} %></li>
          <li><%= link_to "Results", "#results", data: {toggle: "tab"} %></li>
        </ul>
        <div class="tab-content">
          <div class='tab-pane active' id='examples'></div>
          <div class='tab-pane' id="results"></div>
        </div>
      </div>
    </div>
    <footer>
      <p>How can we make Journey Planner better for you?</p>
      <p><%= mail_to "support@journeyplanner.org.nz", "Please send us your feedback" %></p>
      <p>&copy; 2013 Greater Wellington Regional Council</p>
    </footer>
  </div>
  <div class="span9 expanded right_body">
    <div id='mapdiv' class='googlemap'></div>
    <div class="map-options">
      <ul class="nav nav-pills">
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">Extra Layers <i class="icon-caret-down"></i></a>
          <ul id="overlay-options" class='dropdown-menu' role="menu" >
            <li><a href='#' data-overlay="none">None</a></li>
            <li><a href='#' data-overlay="poi">Points of Interest</a></li>
            <li><a href='#' data-overlay="paths">Paths</a></li>
            <li><a href='#' data-overlay='traffic'>Traffic</a></li>
            <li><a href="#" data-overlay='weather'>Weather</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">Map Type <i class="icon-caret-down"></i></a>
          <ul id="maptype-options" class='dropdown-menu pull-right' role="menu" >
            <li><a href='#' data-maptype="map">Map</a></li>
            <li><a href='#' data-maptype="terrain">Terrain</a></li>
            <li><a href='#' data-maptype='aerial'>Aerial</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="details_panel">
      <div class="navbar">
        <div class="navbar-inner">
          <span class='brand'>Journey Information</span>
          <ul class='nav'>
            <li class='active'><%= link_to "Elevation", '#elevation', data: {toggle: "tab"} %></li>
            <li><%= link_to "Calories", '#calories', data: {toggle: "tab"}  %></li>
            <li><%= link_to "Health", '#health', data: {toggle: "tab"}  %></li>
            <li><%= link_to "Car Costs", '#car_cost', data: {toggle: "tab"}  %></li>
            <li><%= link_to "Carbon", '#carbon', data: {toggle: "tab"}  %></li>
          </ul>
          <a href='#' class="pull-right navbar-text" id="detail_toggle"><i class="icon-double-angle-down"></i> hide</a>
        </div>
      </div>
      <div id='detail_content' ></div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag "app" %>
  <script type="text/javascript">
    JourneyPlanner.App.addInitializer(function(){
      this.all_examples.reset(<%= data.examples.to_json() %>);
    });
  </script>
<% end %>
